
/* 全てのタグにmarginが設定されます｡ */
*{
    margin: 0;
}

h2,
p{
    color:black;
}

p.blog-body{
    color: red;
}

ul li{
    color: red;
}

div > span{
    color: red;
}

a:hover{
    background-color:blue;
    color: yellow;
}

a:active{
    background-color: red;
    color: white;
}

.sample p:nth-child(n + 8){
    color: violet;
}

.sample p:nth-child(-n + 6){
    color: tomato;
}

.sample p:first-child{
    color: yellow;
}

.sample p:nth-child(3){
    color: seagreen;
}

.sample p:last-child{
    color: royalblue;
}